<a href="https://colab.research.google.com/github/Hnova28/python_basic/blob/main/String%26Str_formate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



1. position
2. length
3. check
4. if
5. range
6. method
     *  Upper
     *  Lower
     *  replace
7. cancate
8. Formate String

In [ ]:
name = "My name is nova"
print(name[1])
print(name[3])

y
n

In [ ]:
name = "My name is nova"
print(len(name))

15

In [ ]:
name = "My name is nova"
if "nova" in name:
    print("yes")

yes

In [ ]:
name = "My name is nova"
if "noha" not in name:
    print("No")

No

In [ ]:
name = "My name is neyama haque nova"
print(name[3:18])

name is neyama

In [ ]:
name = "My name is neyama haque nova"
print(name[3:])

name is neyama haque nova

In [ ]:
name = "My name is neyama haque nova"
print(name[:18])

My name is neyama

In [ ]:
name = "My name is neyama haque nova." # when count start space are include
print(name[-5:-1])

nova

In [ ]:
name = "My name is neyama haque nova"
print (name.upper())

MY NAME IS NEYAMA HAQUE NOVA

In [ ]:
name = "My name is neyama haque nova"
print (name.lower())

my name is neyama haque nova

In [ ]:
name = "My name is neyama haque nova"
print (name.replace("is",""))

My name  neyama haque nova

In [ ]:
name1="nova"
name2="haque"
print(name1+ " " +name2)

nova haque

In [ ]:
price = 50
txt ="the price is {} dollar"
print(txt.format(price))

the price is 50 dollar